<br/>

<div *ngIf="showSpinner" class="loading">Loading&#8230;</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <mat-card>
      <mat-card-title>
        <font size="5"><b>Veterinarian Information</b></font>
      </mat-card-title>
      <mat-card-content>
        <form>
          <div class="row>">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <table border="0" width="100%">
                <tr class="trHeight">
                  <td style="width: 150px;">
                    <label for="inputEmail3" class="col-form-label">Veterinarian Name</label>
                  </td>
                  <td>
                    <input type="text" [(ngModel)]="veterinary.vetName" class="form-control" id="inputEmail3"
                           placeholder="Veterinary Name"
                           style="background-color: #EEFAFF;">
                    <div class="error" *ngIf="isVal1" align="left">
                      Please enter a valid Veterinarian Name
                    </div>
                  </td>
                </tr>
                <tr class="trHeight">
                  <td>
                    <label for="inputEmail3" class="col-form-label">Phone No</label>
                  </td>
                  <td>
                    <input type="text" [(ngModel)]="veterinary.vetPhone" class="form-control" id="inputEmail3"
                           placeholder="Phone"
                           style="background-color: #EEFAFF;">
                    <div class="error" *ngIf="isVal2" align="left">
                      Please enter a valid Phone No
                    </div>
                  </td>
                </tr>
                <tr class="trHeight">
                  <td>
                    <label for="inputEmail3" class="col-form-label">Address</label>
                  </td>
                  <td>
                    <input type="text" [(ngModel)]="veterinary.vetAddress" class="form-control" id="inputEmail3"
                           placeholder="Address"
                           style="background-color: #EEFAFF;">
                    <div class="error" *ngIf="isVal3" align="left">
                      Please enter a valid Address
                    </div>
                  </td>
                </tr>
                <tr class="trHeight">
                  <td></td>
                  <td align="right">
                    <button type="submit" class="btn btn-primary" style="background-color: #38998C;"
                            (click)="createVeterinary()">
                      <b>Create</b>
                    </button>
                      &nbsp;
                      <button type="submit" class="btn btn-primary" style="background-color: #38998C;">
                        <b>Cancel</b>
                      </button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-1"></div>
          </div>
          <table class="table table-bordered">
            <thead>
            <tr style="background-color: #38998C; color: white;">
              <th>Veterinarian</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let veterinary of veterinarians">
              <td>
                <div *ngIf="showEdit != veterinary.code">
                  {{veterinary.vetName}}
                </div>
                <div *ngIf="showEdit == veterinary.code">
                  <input class="form-control" id="vetName_{{veterinary.code}}" value="{{veterinary.vetName}}">
                </div>
              </td>
              <td>
                <div *ngIf="showEdit != veterinary.code">
                  {{veterinary.vetPhone}}
                </div>
                <div *ngIf="showEdit == veterinary.code">
                  <input class="form-control" id="vetPhone_{{veterinary.code}}" value="{{veterinary.vetPhone}}">
                </div>
              </td>
              <td>
                <div *ngIf="showEdit != veterinary.code">
                  {{veterinary.vetAddress}}
                </div>
                <div *ngIf="showEdit == veterinary.code">
                  <input class="form-control" id="vetAddress_{{veterinary.code}}" value="{{veterinary.vetAddress}}">
                </div>
              </td>
              <td>
                <button class="btn btn-link" (click)="viewShowEdit(veterinary.code)">
                  <mat-icon>create</mat-icon>
                </button>
                <div *ngIf="showEdit == veterinary.code">
                  <button class="btn btn-link"
                          (click)="updateVeterinary(veterinary.code)">
                    <mat-icon>done</mat-icon>
                  </button>
                </div>
                <button class="btn btn-link">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="col-md-1"></div>
</div>

<div class="container">

  <!-- Modal1 -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLongTitle1"><b>Add Retail</b></h5>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Retail Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Retail Name"
                     style="background-color: #EEFAFF;">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Max Count</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Max Count"
                     style="background-color: #EEFAFF;">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" style="background-color: #38998C;">
              <b>Add</b>
            </button>
            <button type="submit" class="btn btn-primary" style="background-color: #38998C;" data-dismiss="modal">
              <b>Cancel</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<br/>
<br/>
<br/>
<br/>
