<br/>

<div *ngIf="showSpinner" class="loading">Loading&#8230;</div>

<div class="row" *ngIf="pageView == 1">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <mat-card>
      <mat-card-title>
        <font size="5"><b>Add Retail</b></font>
      </mat-card-title>
      <mat-card-content>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>
                  Show by Category
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-md-10">
                      <mat-radio-group aria-label="Select an option">
                        <br/>
                        <mat-radio-button value="1" (change)="selectCategory('All Categories')" [checked]="true">
                          <div style="font-family:cambria">All Categories</div>
                        </mat-radio-button>
                        <mat-radio-button value="2" (change)="selectCategory('Foods')">
                          <div style="font-family:cambria">Foods</div>
                        </mat-radio-button>
                        <mat-radio-button value="3" (change)="selectCategory('Clothes')">
                          <div style="font-family:cambria">Clothes</div>
                        </mat-radio-button>
                        <mat-radio-button value="4" (change)="selectCategory('Toys')">
                          <div style="font-family:cambria">Toys</div>
                        </mat-radio-button>
                        <mat-radio-button value="5" (change)="selectCategory('Collar')">
                          <div style="font-family:cambria">Collar</div>
                        </mat-radio-button>
                        <mat-radio-button value="6" (change)="selectCategory('Other')">
                          <div style="font-family:cambria">Other</div>
                        </mat-radio-button>
                        <br/>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" class="btn btn-primary" style="background-color: #38998C;"
                              data-toggle="modal"
                              data-target="#myModal2">
                        View Cart
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Modal2 -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLongTitle1"><b>View Cart</b></h5>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                  <thead>
                  <tr style="background-color: #38998C; color: white;">
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price (Rs.)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  *ngFor="let c of cart">
                    <td>{{c.retailName}}</td>
                    <td>{{c.quantity}}</td>
                    <td>{{c.totalPrice}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      Total
                    </td>
                    <td>
                      Rs. {{totalAmount}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" style="background-color: #38998C;" data-dismiss="modal">
                  <b>Cancel</b>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <table>
              <tbody>
              <tr *ngFor="let l1 of list1">
                <td>
                  <img src="{{imgURL}}{{l1.retailCode}}.jpg" height="200px"
                       width="200px"><br/>
                  {{l1.retailName}}<br/>
                  Rs. {{l1.retailPrice}}<br/>

                  <button type="submit" class="btn btn-primary" style="background-color: #38998C;"
                          data-toggle="modal"
                          data-target="#myModal1"
                          (click)="getValueOfRetail(l1.retailName, l1.retailPrice, l1.retailCode)">
                    <b>Add to Cart</b>
                  </button>
                  <div class="container">

                    <!-- Modal1 -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle"
                         aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLongTitle1"><b>Add to Cart</b></h5>
                          </div>
                          <div class="modal-body">
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Product
                                Name</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3"
                                       placeholder="Product Name"
                                       style="background-color: #EEFAFF;" value="{{retailName}}">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
                              <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputEmail3"
                                       placeholder="Price"
                                       style="background-color: #EEFAFF;" value="{{retailPrice}}" [readonly]="true">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Quantity</label>
                              <div class="col-sm-10">
                                <input type="text" [(ngModel)]="retailCount" class="form-control"
                                       id="inputEmail3" placeholder="Quantity"
                                       style="background-color: #EEFAFF;"
                                       (change)="calculatePrice(retailCount)">
                                <div class="error" *ngIf="isVal1">
                                  Please select a valid Quantity
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary"
                                      style="background-color: #38998C;"
                                      (click)="addAndCheckout(retailPrice, retailCount, retailCode)">
                                <b>Add & Checkout</b>
                              </button>
                              <button type="submit" class="btn btn-primary"
                                      style="background-color: #38998C;"
                                      (click)="addAndProductSearch(retailPrice, retailCount, retailCode)"
                                      data-dismiss="modal">
                                <b>Add & Product Search</b>
                              </button>
                              <button type="submit" class="btn btn-primary"
                                      style="background-color: #38998C;" data-dismiss="modal">
                                <b>Cancel</b>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <br/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table>
              <tbody>
              <tr *ngFor="let l2 of list2">
                <td>
                  <img src="{{imgURL}}{{l2.retailCode}}.jpg" height="200px"
                       width="200px"><br/>
                  {{l2.retailName}}<br/>
                  Rs. {{l2.retailPrice}}<br/>
                  <button type="submit" class="btn btn-primary" style="background-color: #38998C;"
                          data-toggle="modal"
                          data-target="#myModal1"
                          (click)="getValueOfRetail(l2.retailName, l2.retailPrice, l2.retailCode)">
                    <b>Add to Cart</b>
                  </button>
                  <div class="container">

                    <!-- Modal1 -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle"
                         aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLongTitle1"><b>Add to Cart</b></h5>
                          </div>
                          <div class="modal-body">
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Product
                                Name</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3"
                                       placeholder="Product Name"
                                       style="background-color: #EEFAFF;" value="{{retailName}}">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
                              <div class="col-sm-10">
                                <input type="number" [(ngModel)]="retailCount" class="form-control"
                                       id="inputEmail3" placeholder="Quantity"
                                       style="background-color: #EEFAFF;"
                                       (change)="calculatePrice(retailCount)">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Quantity</label>
                              <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputEmail3"
                                       placeholder="Quantity"
                                       style="background-color: #EEFAFF;">
                                <div class="error" *ngIf="isVal1">
                                  Please select a valid Quantity
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary"
                                      style="background-color: #38998C;">
                                <b>Add & Checkout</b>
                              </button>
                              <button type="submit" class="btn btn-primary"
                                      style="background-color: #38998C;" data-dismiss="modal">
                                <b>Add & Product Search</b>
                              </button>
                              <button type="submit" class="btn btn-primary"
                                      style="background-color: #38998C;" data-dismiss="modal">
                                <b>Cancel</b>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <table>
              <tbody>
              <tr *ngFor="let l3 of list3">
                <td>
                  <img src="{{imgURL}}{{l3.retailCode}}.jpg" height="200px"
                       width="200px"><br/>
                  {{l3.retailName}}<br/>
                  Rs. {{l3.retailPrice}}<br/>
                  <button type="submit" class="btn btn-primary" style="background-color: #38998C;"
                          data-toggle="modal"
                          data-target="#myModal1"
                          (click)="getValueOfRetail(l3.retailName, l3.retailPrice, l3.retailCode)">
                    <b>Add to Cart</b>
                  </button>
                  <div class="container">

                    <!-- Modal1 -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle"
                         aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLongTitle1"><b>Add to Cart</b></h5>
                          </div>
                          <div class="modal-body">
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Product
                                Name</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3"
                                       placeholder="Product Name"
                                       style="background-color: #EEFAFF;" value="{{retailName}}">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
                              <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputEmail3"
                                       placeholder="Price"
                                       style="background-color: #EEFAFF;" value="{{retailPrice}}" [readonly]="true">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Quantity</label>
                              <div class="col-sm-10">
                                <input type="number" [(ngModel)]="retailCount" class="form-control"
                                       id="inputEmail3" placeholder="Quantity"
                                       style="background-color: #EEFAFF;"
                                       (change)="calculatePrice(retailCount)">
                                <div class="error" *ngIf="isVal1">
                                  Please select a valid Quantity
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary"
                                      style="background-color: #38998C;">
                                <b>Add & Checkout</b>
                              </button>
                              <button type="submit" class="btn btn-primary"
                                      style="background-color: #38998C;" data-dismiss="modal">
                                <b>Add & Product Search</b>
                              </button>
                              <button type="submit" class="btn btn-primary"
                                      style="background-color: #38998C;" data-dismiss="modal">
                                <b>Cancel</b>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="col-md-1"></div>
</div>

<br/>
<br/>
<br/>
<br/>
